.header {
  height: var(--headerHeight);
  border-bottom: 1px solid #2f2f2f;
  background: #232323;
  border-bottom-color: #2e2e2e;
  display: flex;
  align-items: center;
}

.nav_logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0 0.5rem;
  margin-left: -0.5rem;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  outline: none;
}

.nav_logoLinkImg {
  display: block;
  height: 1.375rem;
  margin-right: 0.75rem;
}
