@import './normalize.css';
@import './variables.css';
@import './button.css';

@import './home.css';
@import './footer.css';
@import './header.css';
@import './nav.css';
@import './page.css';
@import './search.css';

html,
body {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--fontColor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html,
body,
.website-root {
  min-height: 100%;
  background: var(--appBg);
}

.website-contents {
  width: 100%;
}

.website-body {
  display: flex;
}

main {
  padding-bottom: 3rem;
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
}

.app_content {
  height: 100%;
  width: 100%;
  max-width: var(--maxAppWidth);
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 var(--contentSpacingRight) 0 var(--contentSpacingLeft);
}

/* Expandable lib code */
.expandable-collapsed > .expandable_child {
  height: 0;
  overflow: hidden;
}

.expandable-expanded > .expandable_child {
  height: auto;
}

.expandable_child {
  overflow: hidden;
}
/* End Expandable lib code */
