.button {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: var(--accentColor);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: white;
  padding: 0.5em 0.8em;
  font-size: 1rem;
  outline: none;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.button-transparent {
  background: transparent;
}

.button-small {
  font-size: 0.825rem;
}

.button-micro {
  font-size: 0.8125rem;
  padding: 0.4em 0.75em;
}

.button-secondary {
  background: rgba(255, 255, 255, 0.072);
}

.button:disabled {
  opacity: 0.6;
}

.button:hover {
  background-color: var(--accentColorLight);
}

.button:active {
  background-color: var(--accentColorDark);
}

.button-secondary:hover {
  background: rgba(255, 255, 255, 0.083);
}

.button-secondary:active {
  background: rgba(255, 255, 255, 0.06);
}

.button-danger {
  background-color: #ca1010;
}

.button-danger:hover {
  background-color: #e01d1d;
}

.button:focus {
  box-shadow: 0 0 0 2px #fff;
}

.button-secondary:focus {
  box-shadow: 0 0 0 2px var(--accentColor);
}

.lightMode .button-secondary {
  color: black;
  background: rgba(0, 0, 0, 0.13);
}

.lightMode .button-secondary:hover {
  background: rgba(0, 0, 0, 0.11);
}

.lightMode .button-secondary:active {
  background: rgba(0, 0, 0, 0.15);
}

.lightMode .button:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 4px #000;
}

.lightMode .button-secondary:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 4px var(--accentColor);
}
