.footer {
  --footerColor: #bbb;

  font-size: 0.875rem;
  height: calc(var(--footerHeight) + var(--safeAreaInsetBottom));
  color: var(--footerColor);
  padding-bottom: var(--safeAreaInsetBottom);
  border-top: 1px solid var(--baseBorderColor);
}

.lightMode .footer {
  --footerColor: #959595;
}

.footer_content {
  height: 100%;
  max-width: var(--maxAppWidth);
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer_linkList {
  list-style: none;
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.footer_linkListItem {
  margin-right: 1rem;
}

.footer_linkListItem:last-child {
  margin-right: 0;
}

.footer_link {
  color: var(--footerColor);
  text-decoration: none;
}
