.footer {
  --footerColor: #bbb;

  font-size: 0.875rem;
  height: var(--footerHeight);
  color: var(--footerColor);
  padding-bottom: var(--safeAreaInsetBottom);
}

.footer_content {
  border-top: 1px solid #2f2f2f;
  height: 100%;
  max-width: var(--maxAppWidth);
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer_linkList {
  list-style: none;
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.footer_linkListItem {
  margin-right: 1rem;
}

.footer_linkListItem:last-child {
  margin-right: 0;
}

.footer_link {
  color: var(--footerColor);
}
