.header {
  position: sticky;
  z-index: 2000;
  top: 0;
  height: var(--headerHeight);
  border-bottom: 1px solid var(--baseBorderColor);
  background: #232323;
  display: flex;
  align-items: center;
  padding: 0 var(--contentSpacingRight) 0 var(--contentSpacingLeft);
}

.lightMode .header {
  background: #f8f8f8;
}

.nav_logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--fontColor);
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.15rem 0.35rem;
  margin-left: -0.5rem;
  border: 2px solid transparent;
  border-radius: 0.35rem;
  outline: none;
}

.nav_logoLink:focus {
  border-color: var(--accentColor);
}

.nav_logoLinkImg {
  display: block;
  height: 1.375rem;
}

.lightMode .nav_logoLink {
  border-width: 3px;
}

.header_open {
  display: none;
  margin-right: 0.75rem;
  background: none;
  border: 0;
  fill: #bbb;
  border: 2px solid transparent;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 0.2rem;
}

.header_open:focus {
  border-color: var(--accentColor);
}

.lightMode .header_open {
  fill: #666;
}

.header_right {
  margin-left: auto;
  display: flex;
}

.header_searchInputContainer {
  position: relative;
}

.header_searchIcon {
  position: absolute;
  top: 5px;
  left: 7px;
  z-index: 1;
  fill: #777;
  pointer-events: none;
}

.header_search {
  margin-right: 1rem;
}

.header_searchInput {
  -webkit-appearance: none;
  font-size: 0.875rem;
  background: #171717;
  color: #fff;
  border: 1px solid transparent;
  padding: 0.28rem 0.65rem 0.28rem 1.75rem;
  border-radius: 6px;
  outline: none;
}

.lightMode .header_searchInput::-webkit-input-placeholder {
  color: #888;
}

.lightMode .header_searchInput::-moz-placeholder {
  color: #888;
}

.lightMode .header_searchInput:-ms-input-placeholder {
  color: #888;
}

.lightMode .header_searchInput:-moz-placeholder {
  color: #888;
}

.lightMode .header_searchInput {
  color: #050505;
  background: #e0e0e0;
}

.header_searchInput:focus {
  box-shadow: 0 0 0 1px var(--accentColor);
  border-color: var(--accentColor);
}

@media (max-width: 551px) {
  .header_open {
    display: flex;
    align-items: center;
  }

  .header_searchInputContainer {
    display: none;
  }

  .header_searchInput {
    font-size: 1rem;
  }
}
