.header {
  height: var(--headerHeight);
  border-bottom: 1px solid var(--baseBorderColor);
  background: #232323;
  display: flex;
  align-items: center;
  padding: 0 var(--contentSpacingRight) 0 var(--contentSpacingLeft);
}

.lightMode .header {
  background: #f8f8f8;
}

.nav_logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--fontColor);
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0 0.5rem;
  margin-left: -0.5rem;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  outline: none;
}

.nav_logoLinkImg {
  display: block;
  height: 1.375rem;
  margin-right: 0.75rem;
}

.header_cta {
  margin-left: auto;
}
