.header {
  position: sticky;
  z-index: 1000;
  top: 0;
  height: var(--headerHeight);
  border-bottom: 1px solid var(--baseBorderColor);
  background: #232323;
  display: flex;
  align-items: center;
  padding: 0 var(--contentSpacingRight) 0 var(--contentSpacingLeft);
}

.lightMode .header {
  background: #f8f8f8;
}

.nav_logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--fontColor);
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.15rem 0.35rem;
  margin-left: -0.5rem;
  border: 2px solid transparent;
  border-radius: 0.35rem;
  outline: none;
}

.nav_logoLink:focus {
  border-color: var(--accentColor);
}

.nav_logoLinkImg {
  display: block;
  height: 1.375rem;
}

.header_cta {
  margin-left: auto;
}

.lightMode .nav_logoLink {
  border-width: 3px;
}

.header_open {
  display: none;
  margin-right: 0.75rem;
  background: none;
  border: 0;
  fill: #bbb;
  border: 2px solid transparent;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 0.2rem;
}

.header_open:focus {
  border-color: var(--accentColor);
}

.lightMode .header_open {
  fill: #666;
}

@media (max-width: 551px) {
  .header_open {
    display: flex;
    align-items: center;
  }
}
