.home {
  margin: 10vh auto 3rem;
}

.page .home_title {
  font-size: 4.5rem;
  font-weight: 900;
  text-align: center;
  margin: 0 auto 3.5rem;
  padding: 0;
  left: 0;
  width: 100%;
}

.home_titleImg {
  height: 5rem;
}

.home_description {
  max-width: 70%;
  margin: 0 auto 4rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 500;
}

.home_ctas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.home_cta {
  margin: 0 0.5rem;
  font-size: 1.1rem;
  padding: 1em 1.75em;
  border-radius: 0.5rem;
}

.home_launchCta {
  padding-right: 1.6em;
}

.home_cta svg {
  margin-left: 0.25rem;
  fill: white;
}

.home_donateRow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.donateBtn {
  font-size: 0.875rem;
  background: white;
  color: #505050;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 2px;
  border-color: transparent;
  padding: 0.5em 1.75em;
}

.donateBtn:hover {
  background: #f7f7f7;
  color: #222;
}

.donateBtn:active {
  background: #e8e8e8;
  color: #111;
}

.donateBtn.focus-visible {
  box-shadow: 0 0 0 3px var(--primaryBlue);
}

.donateBtn_img {
  display: inline-block;
  height: 0.825rem;
  margin-right: 0.5rem;
}

@media (max-width: 551px) {
  .home {
    max-width: 100%;
    margin: 5vh 0 1.5rem;
  }

  .page .home_title {
    margin-bottom: 2.5rem;
  }

  .home_titleImg {
    height: 4rem;
  }

  .home_description {
    font-size: 1.05rem;
    max-width: 100%;
    padding: 0 25px;
    margin-bottom: 2.5rem;
  }

  .home_ctas {
    flex-direction: column-reverse;
  }

  .home_cta {
    margin-bottom: 1rem;
    width: 80%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 340px) {
  .page .home_title {
    margin-bottom: 1.25rem;
  }

  .home_titleImg {
    height: 3.5rem;
  }

  .home_description {
    margin-bottom: 1.5rem;
  }
}
