.page {
  max-width: var(--maxAppWidth);
  margin: 0 auto 0;
  padding: 3rem var(--contentSpacingRight) 0 var(--contentSpacingLeft);
}

.page-wide {
  max-width: 980px;
}

.page h1 {
  font-weight: 900;
  margin: 0;
}

.page p {
  line-height: 1.65;
}

.page ol li {
  line-height: 1.65;
}

.page ul li {
  line-height: 1.65;
}

.page blockquote {
  margin-left: 0;
  padding-left: 1rem;
  border-left: 4px solid #444;
  color: #aaa;
}

.page_ctas {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_ctaBtn {
  font-size: 1rem;
  padding: 0.75rem 1.75rem;
}

a {
  color: var(--primaryBlue);
}
