.result_container {
  border-bottom: 1px solid #333;
  padding: 1rem 0.5rem;
}

.lightMode .result_container {
  border-bottom-color: #e9e9e9;
}

.result_container:last-child {
  border-bottom: 0;
}

.result_link {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0.2rem;
}

.result_summary {
  line-height: 1.45;
  margin-bottom: 0.1rem;
}

.results_summary {
  margin: 1.5rem 0;
  font-style: italic;
  color: #aaa;
}

.lightMode .results_summary {
  color: #777;
}
