.result_container {
  margin-bottom: 1.5rem;
}

.result_link {
  font-weight: bold;
  /* font-size: 1.125rem; */
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0.2rem;
}

.result_summary {
  line-height: 1.45;
  margin-bottom: 0.1rem;
}

.results_summary {
  margin: 1.5rem 0;
  font-style: italic;
  color: #aaa;
}

.lightMode .results_summary {
  color: #777;
}
