.result_container {
  margin-bottom: 1rem;
}

.result_link {
  font-weight: 500;
  font-size: 1.125rem;
  display: inline-block;
  margin-bottom: 0.325rem;
}

.result_summary {
  line-height: 1.45;
  margin-bottom: 0.1rem;
}

.results_summary {
  margin-bottom: 1rem;
  font-style: italic;
  color: #aaa;
}

.lightMode .results_summary {
  color: #777;
}
