:root {
  --accentColor: #6954ff;

  --safeAreaInsetTop: 0;
  --safeAreaInsetBottom: 0;
  --safeAreaInsetLeft: 0;
  --safeAreaInsetRight: 0;

  --safeAreaInsetTop: env(safe-area-inset-top);
  --safeAreaInsetBottom: env(safe-area-inset-bottom);
  --safeAreaInsetLeft: env(safe-area-inset-left);
  --safeAreaInsetRight: env(safe-area-inset-right);

  --maxAppWidth: 40rem;
  --headerHeight: 3rem;
  --footerHeight: 4rem;
  --configuration-width: calc(16rem + var(--safeAreaInsetLeft));

  --horizontalContentPadding: 1.375rem;

  --baseContentSpacing: 1.25rem;

  /* Use these for containers that don't touch app edge */
  --baseContentSpacingLeft: var(--baseContentSpacing);
  --baseContentSpacingRight: var(--baseContentSpacing);

  /* Fallback for older browsers */
  --contentSpacingLeft: var(--baseContentSpacingLeft);
  --contentSpacingRight: var(--baseContentSpacingRight);

  /* Use these for containers that do touch app edge */
  --contentSpacingLeft: max(
    var(--baseContentSpacingLeft),
    var(--safeAreaInsetLeft)
  );
  --contentSpacingRight: max(
    var(--baseContentSpacingRight),
    var(--safeAreaInsetRight)
  );
}

body {
  --appBg: #1c1c1c;
  --fontColor: #fff;
  --baseBorderColor: #2e2e2e;

  --primaryBlue: #409dff;
}

body.lightMode {
  --appBg: #fff;
  --fontColor: #000;
  --baseBorderColor: #e4e4e4;

  --primaryBlue: #016bda;
}

@media (min-width: 1200px) {
  :root {
    --configuration-width: calc(20rem + var(--safeAreaInsetLeft));
  }
}
