<header class="header">
  {% if home !== true %}
    <button class="header_open">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" style="--_mt-iconSize:1.4rem; width: var(--_mt-iconSize, 1em); height: var(--_mt-iconSize, 1em);"> <path d="M6 36h36v-4H6v4zm0-10h36v-4H6v4zm0-14v4h36v-4H6z"></path></svg>
    </button>
  {% endif %}
  <div class="nav_logo">
    <a href="/" class="nav_logoLink">
      <img
        src="/logo-small.png"
        alt="FI Calc"
        class="nav_logoLinkImg"
      />
    </a>
  </div>
  <div class="header_cta">
    <a class="button button-micro" href="https://calculator.ficalc.app">
      Launch Calculator
    </a>
  </div>
</header>