<header class="header">
  <div class="nav_logo">
    <a href="/" class="nav_logoLink">
      <img
        src="/logo-small.png"
        alt="FI Calc"
        class="nav_logoLinkImg"
      />
    </a>
  </div>
  <div class="header_cta">
    <a class="button button-micro" href="https://calculator.ficalc.app">
      Launch Calculator
    </a>
  </div>
</header>