<nav class="nav">
  <div class="nav_search">
    <form action="/search" method="get">
      <div class="nav_searchInputContainer">
        <svg class="nav_searchIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" style="--_mt-iconSize:1.2rem; width: var(--_mt-iconSize, 1em); height: var(--_mt-iconSize, 1em);"> <path d="M31 28h-1.59l-.55-.55C30.82 25.18 32 22.23 32 19c0-7.18-5.82-13-13-13S6 11.82 6 19s5.82 13 13 13c3.23 0 6.18-1.18 8.45-3.13l.55.55V31l10 9.98L40.98 38 31 28zm-12 0c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9z"></path></svg>
        <input type="text" name="q" class="nav_searchInput" placeholder="Search"/>
      </div>
    </form>
  </div>
  <ul class="nav_sections">
    {% for item in nav %}
      <li class="nav_section">
      <div class="nav_sectionHeading">
        <a href="{{ item.url }}" class="nav_sectionHeaderLink {% if page.url == item.url %}active{% endif %}">{{ item.title }}</a>
        {% if item.pages or item.groups %}
        <button type="button" class="nav_sectionLinkToggle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" style="--_mt-iconSize:1.4rem; width: var(--_mt-iconSize, 1em); height: var(--_mt-iconSize, 1em);"> <path d="M17.17 32.92l9.17-9.17-9.17-9.17L20 11.75l12 12-12 12z"></path></svg>
        </button>
                </div>
        {% endif %}
        {% if item.pages %}
          <ul class="nav_sectionLinks expandable_child">
            {% for child in item.pages %}
              <li class="nav_sectionLinkContainer">
                <a href="{{ child.url }}" class="nav_sectionLink {% if page.url == child.url %}active{% endif %}">
                  {{ child.title }}
                </a>
                
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if item.groups %}
          <ul class="nav_sectionGroups expandable_child">
            {% for group in item.groups %}
              <li class="nav_sectionGroupContainer">
                <a href="{{ group.url }}" class="nav_sectionGroupLink {% if page.url == group.url %}active{% endif %}">
                  {{ group.title }}
                </a>
                {% if group.pages %}
                  <ul class="nav_sectionLinks">
                    {% for child in group.pages %}
                      <li class="nav_sectionLinkContainer">
                        <a href="{{ child.url }}" class="nav_sectionLink {% if page.url == child.url %}active{% endif %}">
                          {{ child.title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
<div class="nav_bg"></div>