<nav class="nav">
  <ul class="nav_sections">
    {% for item in nav %}
      <li class="nav_section">
        <a href="{{ item.url }}" class="nav_sectionHeaderLink {% if page.url == item.url %}active{% endif %}">{{ item.title }}</a>
        <ul class="nav_sectionLinks">
          {% for child in item.pages %}
            <li class="nav_sectionLinkContainer">
              <a href="{{ child.url }}" class="nav_sectionLink {% if page.url == child.url %}active{% endif %}">
                {{ child.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
    
  </ul>
</nav>