<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% if app.environment === 'prod' %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164261905-2"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-164261905-2');
    </script>
    {% endif %}
    
    <meta name="Description" content="FI Calc is a powerful and flexible retirement calculator for FIRE. Simulate retirements using historical data that spans more than 100 years.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if katex %}
      <link rel="preload" href="{{ '/css/katex.0.11.1.css' | url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="{{ '/css/katex.0.11.1.css' | url }}"></noscript>
    {% endif %}
    <link rel="stylesheet" href="{{ styles.appCssFilename }}" />
    <title>
      {% if title %}{{ title }} - {% endif %}FI Calc
    </title>
  </head>
  <body>
    {% if search %}
      <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.0.4"></script>
    {% endif %}
    {% set js %}
      {% include "js/color-mode.js" %}
      {% if home !== true %}
        {% include "js/nav-scroll-position.js" %}
        {% include "js/expandable.js" %}
        {% include "js/nav-expandable.js" %}
      {% endif %}
      {% if search %}
        {% include "js/search.js" %}
      {% endif %}
    {% endset %}
    <div class="website-root">
      {% include 'header.njk' %}
      <div class="website-body">
        {% if home !== true %}
          {% include 'nav.njk' %}
        {% endif %}
        <div class="website-contents">
        <main>
          <div class="page {% if home %}page-wide{% endif %}">
            {{ content | safe }}
          </div>
        </main>
        {% include 'footer.njk' %}
        </div>
      </div>
    </div>
    <script>{{ js | babel | jsmin | safe }}</script>
    <script async src="https://unpkg.com/body-scroll-lock@3.0.3/lib/bodyScrollLock.min.js"></script>
  </body>
</html>
