:root {
  --accentColor: #6954ff;
  --primaryBlue: #409dff;

  --safeAreaInsetTop: 0;
  --safeAreaInsetBottom: 0;
  --safeAreaInsetLeft: 0;
  --safeAreaInsetRight: 0;

  --safeAreaInsetTop: env(safe-area-inset-top);
  --safeAreaInsetBottom: env(safe-area-inset-bottom);
  --safeAreaInsetLeft: env(safe-area-inset-left);
  --safeAreaInsetRight: env(safe-area-inset-right);

  --maxAppWidth: 40rem;
  --headerHeight: 3rem;
  --footerHeight: 4rem;
  --configuration-width: calc(16rem + var(--safeAreaInsetLeft));

  --horizontalContentPadding: 1.375rem;

  --baseContentSpacing: 1.25rem;

  /* Use these for containers that don't touch app edge */
  --baseContentSpacingLeft: var(--baseContentSpacing);
  --baseContentSpacingRight: var(--baseContentSpacing);

  /* Fallback for older browsers */
  --contentSpacingLeft: var(--baseContentSpacingLeft);
  --contentSpacingRight: var(--baseContentSpacingRight);

  /* Use these for containers that do touch app edge */
  --contentSpacingLeft: max(
    var(--baseContentSpacingLeft),
    var(--safeAreaInsetLeft)
  );
  --contentSpacingRight: max(
    var(--baseContentSpacingRight),
    var(--safeAreaInsetRight)
  );
}

@media (min-width: 1200px) {
  :root {
    --configuration-width: calc(20rem + var(--safeAreaInsetLeft));
  }
}

html,
body {
  background: #1c1c1c;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html,
body,
.website-root {
  min-height: 100%;
}

.website-contents {
  width: 100%;
}

.website-body {
  display: flex;
}

main {
  padding-bottom: 3rem;
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
}

.app_content {
  height: 100%;
  width: 100%;
  max-width: var(--maxAppWidth);
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 var(--contentSpacingRight) 0 var(--contentSpacingLeft);
}
