.nav {
  position: sticky;
  flex: 0 0 var(--configuration-width);
  top: 0;
  width: var(--configuration-width);
  max-height: 100vh;
  padding: 0 0 20px;
  overflow-y: auto;
  background: #262626;
  color: white;
}
