---
permalink: search.json
eleventyExcludeFromCollections: true
---
[
{%- for page in collections.all -%}
  {%- if page.data.layout and not page.data.excludeFromSearch %}
  {
    "url": "{{ page.url }}",
    "title": "{{ page.data.title }}",
    "summary": "{{ page.templateContent | summary | safe }}",
    "index": "{{ page.templateContent | squash }}"
  }{% if not loop.last %},{% endif %}
  {%- endif -%}
{%- endfor -%}
]