<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164261905-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-164261905-2');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/css/app.css' | url }}" />
    <title>
      FI Calc Guidebook{% if title %}: {{ title }}{% endif %}
    </title>
  </head>
  <body>
    <div class="website-root">
      {% include 'header.njk' %}
      <div class="website-body">
        {# {% include 'nav.njk' %} #}
        <div class="website-contents">
        <main>
          <div class="page">
            {{ content | safe }}
          </div>
        </main>
        {% include 'footer.njk' %}
        </div>
      </div>
    </div>
  </body>
</html>
